.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
}

.page-not-found-heading {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
}

.page-not-found-description {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 300;
}
